nav {
    background-color: peru;
}
ul {
    color: cornsilk;
}
.input-field {
    float: right;
}
.brand-logo {
    margin-left: 10px;
}
#nav-mobile {
    margin-right: 50px;
}
img {
    width: 250px;
    height: 300px;
    float: left;
    margin-top: 5px;
    margin-left: 25px;
    margin-right: 25px;
}
.content {
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 260px;
    margin-bottom: 30px;
    background-color: cornsilk;
}
a {
    float: right;
}
.material-icons {
    background-color: peru;
}
nav .brand-logo {
    color: cornsilk;
    font-family: 'Galdeano', sans-serif;
}
#nav-mobile {
    font-family: 'Galdeano', sans-serif;

}