body{

    background-image: url(assets/)

}

.brand-logo{

    margin-left: 10px;

}

#nav-mobile{

    margin-right: 50px;

}

.collection.with-header .collection-header{

    background-color: #ee6e73;
    color: white;

}

.collection-item{

    height: 100px;


}

#list{

    margin: 50px;

}