#primary-content{

    font-size: large;

}


nav .brand-logo {
    color: cornsilk;
    font-family: 'Galdeano', sans-serif;
}

#nav-mobile {
    font-family: 'Galdeano', sans-serif;

}

#locationList{

    font-family: 'Galdeano', sans-serif;

}

.collection.with-header .collection-header{

    background-color: peru;

}

nav {
    background-color: peru;
}

.brand-logo{

    margin-left: 10px;

}

#nav-mobile{

    margin-right: 50px;

}

.collection.with-header .collection-header{


    color: white;

}


#list{

    margin: 50px;

}

.material-icons {
    background-color: peru;
}

#list{

    background-color: peru;

}

#primary-content{

    font-size: large;
    text-align: center;
    margin-left: 100px;

}

