.collection.with-header .collection-header{
    font-family: 'Galdeano', sans-serif;
    background-color: peru;
    color: cornsilk;
}

nav {
    background-color: peru;
}

nav .brand-logo{
    font-family: 'Galdeano', sans-serif;
    margin-left: 10px;
    color: cornsilk;
}

#nav-mobile{
    font-family: 'Galdeano', sans-serif;
    margin-right: 50px;
}

.collection.with-header .collection-item{
    height: 90px;
    background-color: cornsilk;
}

#list {
    margin: 150px;
    background-color: cornsilk;
    font-family: 'Open Sans', sans-serif;
}